footer
  .container
    .row
      .col-xs-3
        ul
          h3 网站相关
          each val in ['关于我们','服务条款','帮助中心','声望与权限','每周精选','App下载']
            li
              a(href="")= val
      .col-xs-3
        ul
          h3 联系合作
          each val in ['联系我们','加入我们','合作伙伴','媒体报道','建议反馈']
            li
              a(href="")= val
      .col-xs-3
        ul
          h3 常用链接
          each val in ['笔记插件:Chrome','笔记插件:Firefox','黑客马拉松','开发者福利']
            li
              a(href="")= val
      .col-xs-3
        ul 
          h3 关注我们
          each val in ['GitHub','Twitter','LinkedIn','新浪微博','优酷主页','开发日志']
           li
             a(href="")= val
    .copyRight 
      p © 2011-2015 SegmentFault. 当前呈现版本 15.12.09
      p 浙ICP备15005796号-2
            
