header
  .container
    .l
      a(href="/",class="logo") MiCo
      form(action="/search")
        input(type="text",placeholder="请输入关键字搜索")
        span(class="glyphicon glyphicon-search")
      ul
        li
          a(href="")  问答
        li
          a(href="")  文章
    .r
      if(!user)
        a(href="/reg") 注册
        a(href="/login") 登录
      else
        div
          a(href="/create") 提问
          if( user.message && user.message.length)
            a(href="/messages")
              strong= user.message.length+' '
              未读消息
        .dropdown
          span.avatar(class="glyphicon glyphicon-user")
          a(class="dropdown-toggle",href="")= user.username
          ul.dropdown-menu
            li
              a(href= "/u/"+user.username) 我的主页
            li
              a.logout-btn(href="javascript:void(0)") 退出
