header
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .logo.navbar-header
          a.navbar-brand(href="/") OneCafe
        form.search.navbar-form.navbar-left(role="search")
          .input-group
            input.form-control(type="text" placeholder="输入关键字搜索")
            span.input-group-btn
              button.btn.btn-default(type="submit") 
                i.glyphicon.glyphicon-search
        ul.menu.nav.navbar-nav
          li
            a(href="") 首页
          li
            a(href="") 资讯
          li 
            a(href="") 关于我们
        ul.profile.nav.navbar-nav.navbar-right
          if(user)
            li
              a.create_btn(href="/create") 提问
            li
              a.messages(href="/messages")  
                i.fa.fa-bell-o
            li.dropdown
              a.dropdown-toggle.avatar(href="javascript:;" data-toggle="dropdown")
                img(src="/img/avatar_default.png", alt="")
                span.caret
              ul.dropdown-menu
                li 
                  a(href="") 我的主页
                li.divider(role="separator")
                li
                  a(href="") 设置
                li
                  a.logout_btn(href="/logout") 退出
          else
            li
              a(href="javascript:;" data-toggle="modal" data-target="#signModal") 登录
              
