.question-lists 
  each val in questionJSON
    section 
      .related
        span.vote-btn 0
          br
          small 投票
        span.answer-btn 0
          br
          small 回答
        span.view-btn 0
          br
          small 浏览
      .summary
        span.author    
          a(href= '/u/'+val.author)=  val.author 
          small.time(data-created= val.postDate)   5分钟前发表了问题
        h3
          a(href="q/#{val.id}")= val.title
      
