doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../assets/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/header.css")
    link(rel="stylesheet", href="../css/footer.css")
    link(rel="stylesheet", href="../css/a.css")
    block link
  body
    include ./includes/header.jade
    #main
      .container
        div!= articleJSON.content  
        button.delArticle(type="button") 删除文章
        h2  讨论区
        div.comments
          each val in commentJSON
            p= val.content
            button.delComment(type="button") 删除
            input.commentId(type="hidden",value= val.id)
        textarea
        input(type="hidden",class="articleId",value= articleJSON.id)
        input(type="hidden",class="articleTitle",value= articleJSON.title)
        button.addComment(type="button") 评论
    include ./includes/footer.jade
  script(src="../assets/jquery/dist/jquery.min.js")
  script(src="../js/a.js")
  

      
      
