extends layout
block link
block content
    .container
      .panel.panel-default
        .panel-heading 项目地址:
        .panel-body
          h4
            a(href="https://github.com/Byronvis/onecafe") https://github.com/Byronvis/onecafe
