extends layout
block main
  .container
    button  服务器发送请求
    h3  这是一个聊天页。
    #demo
block scripts
  //[if lt IE 9]
  script(src="https://g.alicdn.com/aliww/ww/json/json.js",charset="utf-8")
  //[endif]
  script(src="https://g.alicdn.com/aliww/??h5.openim.sdk/1.0.6/scripts/wsdk.js,h5.openim.kit/0.3.3/scripts/kit.js")
  script(src="/js/chat.js")
