doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../../assets/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="../../css/base.css")
    link(rel="stylesheet", href="../../css/header.css")
    link(rel="stylesheet", href="../../css/footer.css")
    link(rel="stylesheet", href="../../css/edit.css")
    block link
  body
    include ./includes/header.jade
    #main
      .container
        form.form-editor(action="",method="post")
          input(type="text",id="title",class="form-control",placeholder='请输入文章标题',value= questionJSON.title)   
          textarea(id="editor")= questionJSON.content
          p
            button.btn-primary(class="btn",type="button") 发布
    include ./includes/footer.jade
  script(src="../../assets/jquery/dist/jquery.min.js")
  script(src="../../assets/bootstrap/dist/js/bootstrap.min.js")
  script(src="../../js/header.js")
  script(src="../../assets/tinymce/tinymce.jquery.min.js")
  script(src="../../js/edit.js")
  block scripts  
      
      
