doctype html
html
  head
    title= title
    link(rel='stylesheet', href='assets/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="css/base.css")
    link(rel="stylesheet", href="css/header.css")
    link(rel="stylesheet", href="css/footer.css")
    block link
  body
      h1= message
      h2= error.status
      pre #{error.stack}
    
