extends layout
block link
  link(rel="stylesheet", href="/css/index.css")
  link(rel="stylesheet", href="/css/question.css")
block main
  .container
    .row
      .center(class="col-xs-9")
        nav
            a.nav-active(href="") 最新的
            a(href="") 热门的    
        include ./question/list.jade
      aside(class="col-xs-3")
        if(username)
          ul.side-navbar
            li
              a(href= "/u/"+username+"/question")  我的问题
            li
              a(href= "/u/"+username+"/comment")  我的评论 
block scripts      
  script(src="/assets/moment/min/moment.min.js")
  script(src="/assets/moment/locale/zh-cn.js")
  script(src="/js/includes/question.js")
  script(src="/js/index.js")
