extends layout
block link
  link(rel="stylesheet", href="/css/header.css")
  link(rel="stylesheet", href="/css/question_list.css")
block content
  include ./includes/header.jade
  #main
    .container
      .row
        .center(class="col-xs-9")
          include ./question/newest.jade
        aside(class="col-xs-3")
block scripts
  script(src="/js/index.js")
