extends layout
block link
  link(rel="stylesheet", href="/css/header.css")
  link(rel="stylesheet", href="/css/question_list.css")
block content
  include ./includes/header.jade
  include ./includes/sign.jade
  #main
    .container
      .row
        .center(class="col-xs-9")
          include ./question/newest.jade
        aside(class="col-xs-3")
          if(user)
            ul.side-navbar
              li
                a(href= "/myQuestion")  我的问题
block scripts
  script(src="/js/index.js")
  
  //- script(src="/js/includes/question.js")
