doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/base.css")
    block link
  body
  block content
  script(src="/vendor/jquery/dist/jquery.min.js")
  script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
  block scripts
