doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="/css/base.css")
    block link
  body
    include ./includes/header.jade
    #main
      block main
  script(src="/vendor/jquery/dist/jquery.min.js")
  script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
  block scripts
