extends layout
block link
      link(rel="stylesheet", href="css/login.css")
block main
  .container
    form(method='post')
      .form-group
        label(for="username") 用户名：
        input(type="text",id="username",class="form-control",name="username")
      .form-group  
        label(for="password") 密码：
        input(type="password",id="password",class="form-control",name="password")
      p  
        button(type="button",class="btn btn-default")  登陆
block scripts
  script(src="js/login.js")    
      
