doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../assets/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="../css/base.css")
    link(rel="stylesheet", href="../css/header.css")
    link(rel="stylesheet", href="../css/footer.css")
    link(rel="stylesheet", href="../css/q.css")
    block link
  body
    include ./includes/header.jade
    #main
      .container
        div!= questionJSON.content  
        button.delQuestion(type="button") 删除提问
        h2  讨论区
        div.comments
          each val in commentJSON
            p= val.content
            button.delComment(type="button") 删除
            input.commentId(type="hidden",value= val.id)
        textarea
        input(type="hidden",class="questionId",value= questionJSON.id)
        input(type="hidden",class="questionTitle",value= questionJSON.title)
        button.addComment(type="button") 评论
    include ./includes/footer.jade
    script(src="../assets/jquery/dist/jquery.min.js")
    script(src="../assets/bootstrap/dist/js/bootstrap.min.js")
    script(src="../js/header.js")
    script(src="js/q.js")
  

      
      
