.container{
  width: 1050px!important;
}
a{
  font-weight: 700;
}
a:hover{
  text-decoration: none;
}
a:link{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0
}
.l{
  float: left;
}
.r{
  float: right;
}
#main{
  margin-top: 25px;
}
