
#main textarea{
  width: 400px;
  height: 50px;
}
/********question-title************/
#main .question-title{
  padding: 15px 0;
  background-color: #f6f6f6;
}
#main .navmenu {
  width: 200px;
}
#main .navmenu::after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
#main .navmenu li{
  float: left;
}
#main .navmenu li a{
  font-size: 13px;
  font-weight: normal;
  padding: 0;
  color: #777;
}
#main .navmenu li a:hover{
  background-color: transparent;
}
#main .navmenu li .active{
  color: #000;
}
#main .question-title h3 a {
  font-weight: 700;
  color: #333;
}
#main .author a{
  color: #008E59;
}
#main .author span{
  color: #999;
  padding-left: 15px;
}
#main .author a:hover{
  color: #004229;
  text-decoration-line: underline;
}
/********question-main************/

#main  .question-main .comment-wiget{
  display: none;
}

#main .question-main h2{
  font-weight: 700;
  padding: 10px 0;
  font-size: 18px;
  border-bottom: solid 2px #ccc;
}
#main .question-main .observer a{
    color: #008E59;
}
#main .question-main .observer span{
  color: #999;
  padding-left: 15px;
}
#main .question-main .observer a:hover{
  color: #004229;
  text-decoration-line: underline;
}
#main .question-main .tooltips::after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
#main .question-main .tooltips li{
  float: left;
  padding-right: 10px;
}
#main .question-main .tooltips li a{
  color: #999;
  font-weight: normal;
}
