extends ../layout
block link
	link(rel="stylesheet", href="/css/user.css")
block content
	.container-fluid
		.row
				aside
					a(href="/").home_btn
						i.fa.fa-home
					.basic-profile
						img(src=user.avatarUrl, alt="").avatar
						a(href="").username=  user.username
						p.signature= user.signature
				.main
					h4 提问
					each val,index in questionCollViewModel
						.list
							a(href= "/q/"+val.id)= ++index+','+val.title
block scripts  
