extends ../layout
block link
	link(rel="stylesheet", href="/css/header.css")
	link(rel="stylesheet", href="/css/messages.css")
block content
	include ../includes/header.jade
	.container
		.row
			.col-xs-9
				.title
					h4 消息通知
				for val in message
					.message-list
						h5 2016-03-11
						p 
							a(href="")= val.author
							span 评论了你的问题
							a(href='/q/'+val.question_id)= val.question
						
			.col-xs-3
block scripts  
	script(src="/js/messages.js")
