doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../assets/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="../css/base.css")
    link(rel="stylesheet", href="../css/header.css")
    link(rel="stylesheet", href="../css/footer.css")
  body
    include ../includes/header.jade
    #main
      .container          
        li
          a(href= "/u/"+user.username+"/question")  我的文章
        li
          a(href= "/u/"+user.username+"/comment")  我的评论 
    include ../includes/footer.jade
  script(src="../assets/jquery/dist/jquery.min.js")
  script(src="../assets/bootstrap/dist/js/bootstrap.min.js")
  script(src="../js/header.js")
  

      
      
