extends ../layout
block link
	link(rel="stylesheet", href="/vendor/summernote/dist/summernote.css")
	link(rel="stylesheet", href="/css/header.css")
	link(rel="stylesheet", href="/css/create.css")
block content
	include ../includes/header.jade
	.container
		form.form-editor(action="",method="post")
			if(question)
				.form-group(data-toggle="tooltip")
					input#title.form-control(type="text" placeholder="标题：请简洁描述问题" value= question.title)
				.form-group(data-toggle="tooltip")
					textarea#editor.form-control= question.content
			else
				.form-group(data-toggle="tooltip")
					input#title.form-control(type="text" placeholder="标题：请简洁描述问题")
				.form-group(data-toggle="tooltip")
					textarea#editor.form-control
			
	.bottom_box
		.container
			.create_box
				if(question)
					button.btn.btn-primary(type="button")  提交编辑
				else
					button.btn.btn-primary(type="button")  发布问题
block scripts  
	script(src="/vendor/summernote/dist/summernote.min.js")
	script(src="/vendor/summernote/lang/summernote-zh-CN.js")
	script(src="/js/create.js")
