extends ../layout
block link
      link(rel="stylesheet", href="/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css")
      link(rel="stylesheet", href="/css/header.css")
      link(rel="stylesheet", href="/css/create.css")
block main
  .container
    form.form-editor(action="",method="post")
      input(type="text",id="title",class="form-control",placeholder='请输入文章标题')   
      textarea(id="editor")
      p
        button.btn-primary(class="btn",type="button") 发布
block scripts  
  script(src="/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js")
  script(src="/js/create.js")
  

      
      
