extends ../layout
block link
	link(rel="stylesheet", href="/vendor/summernote/dist/summernote.css")
	link(rel="stylesheet", href="/css/header.css")
	link(rel="stylesheet", href="/css/question.css")
block content
	include ../includes/header.jade
	.container
		.row
			.col-xs-9.main
				.question-info
					.title
						h3
							a(href="")= question.title
						.extra
							span 作者
								em 
									a(href="")= question.author
							span 发布于 
								em.time(data-create= question.create_time) 
					.content!=	question.content
					if(user && user._id==question.author_id)
						.tools
							a.edit_btn(href= "/q/"+question._id+"/edit") 
								i.fa.fa-edit
								编辑
							a.del_btn(href="javascript:;") 
								i.fa.fa-trash-o
								删除
				.question-main
					h4 3个回答
					.answers
						.answer-list
							.author  
								a(href="") 逗猫的鱼
								span.signature   ,我是一只什么鱼
								.avatar.pull-right   dd
							.comment  这是评论的内容
							.toolbar
								span 发布于 1天前
								span 评论		
						.answer-list
							.author  
								a(href="") 逗猫的鱼
								span.signature   ,我是一只什么鱼
								.avatar.pull-right   dd
							.comment  这是评论的内容
							.toolbar
								span 发布于 1天前
								span 评论							
						.answer-list
							.author  
								a(href="") 逗猫的鱼
								span.signature   ,我是一只什么鱼
								.avatar.pull-right   dd
							.comment  这是评论的内容
							.toolbar
								span 发布于 1天前
								span 评论
					.create-answer.clearfix
						h4 撰写答案
						textarea#editor
						button.btn.btn-primary.pull-right 提交答案
			.col-xs-3								
block scripts
	script(src="/vendor/summernote/dist/summernote.min.js")
	script(src="/vendor/summernote/lang/summernote-zh-CN.js")
	script(src="/vendor/moment/min/moment.min.js")
	script(src="/js/question.js")
