extends ../layout
block link
	link(rel="stylesheet", href="/vendor/summernote/dist/summernote.css")
	link(rel="stylesheet", href="/css/header.css")
	link(rel="stylesheet", href="/css/question.css")
block content
	include ../includes/header.jade
	.container
		.row
			.col-xs-9.main
				.question-info
					.title
						h3(data-question= question.id data-author= question.authorid)
							a(href="" data-author= question.authorid)= question.title
						.extra
							span 作者
								em 
									a(href="")= question.author
							span 发布于 
								em.time(data-create= question.create_time) 
					.content!=	question.content
					if(user && user._id==question.author_id)
						.tools
							a.edit_btn(href= "/q/"+question.id+"/edit") 
								i.fa.fa-edit
								编辑
							a.del_btn(href="javascript:;" data-question= question.id) 
								i.fa.fa-trash-o
								删除
				.question-main
					h4= commentColl.length+'个回答'
					.answers
						each val in commentColl
							.answer-list
								.author  
									a(href="/u/"+val.authorid) hahah
									span.signature   ,我是一只什么鱼
									.avatar.pull-right   dd
								.comment!=  val.content
								.toolbar
									span 发布于 1天前
									a(href="javascript:;") 评论	
									if(val.authorid===user._id)
										a.del_comment_btn(href="javascript:;" data-comment=val.id) 删除	
					.create-answer.clearfix
						h4 撰写答案
						textarea#editor
						button.submit_btn.btn.btn-primary.pull-right 提交答案
						span.tooltips
			.col-xs-3								
block scripts
	script(src="/vendor/summernote/dist/summernote.min.js")
	script(src="/vendor/summernote/lang/summernote-zh-CN.js")
	script(src="/vendor/moment/min/moment.min.js")
	script(src="/js/question.js")
