ul.nav.nav-tabs
  li
    a(href="?question=newest") 最新的
  li
    a(href="?question=hottest") 热门的
  li.active
    a(href="?question=unanswered") 未回答的
.question_list 
  each val in questionColl
    section
      .row
        .head
          a.author_avatar
            img(src=val.avatarUrl, alt="")
          i.answer_count= val.answer_count
            small 回答
          i.view_count= val.visit_count
            small 浏览
        .body
          h3
            a(href="q/#{val.id}")= val.title
   
