body {
  font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
}
.container {
  max-width: 1140px;  
}
a {
  font-weight: 700;
}
a:hover {
  text-decoration: none;
}
a:focus{
  outline: none;
}
a:link {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0
}
