header {
    height: 50px;
}
.navbar-brand {
    font-size: 30px;
}
header  form {
    padding-left: 0!important;
    padding-right: 0!important;
}
form .input-group {
    width: 340px;
}
form .input-group-btn {
    width: 1%!important;
}
.menu {
    margin-left: 18px;
}
.menu a {
    padding: 15px 12px;
}
.profile {
    margin-right: 0;
}
.profile .create_btn {
    padding: 15px 0;
    margin-right: 15px;
}
.profile .messages {
    font-size: 16px;
    padding: 15px 5px;
    margin-right: 10px;
}
.profile .avatar {
    padding: 10px 0;
}
.profile .open .avatar {
    background-color: transparent!important;
}
.profile .avatar img {
    width: 30px;
    border-radius: 50%;
}
.profile .dropdown-menu {
    min-width: 130px;
}
.message-count {
    position: absolute;
    top:  9px;
    right: -2px;
    padding: 0 4px;
    background-color: #ed1c24;
    max-width: 28px;
    min-width: 16px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    border-radius: 14px;
}

/**
 * 用户登录注册begin
 */

#signModal .modal-dialog {
    width: 420px;
}
#signModal .modal-login {
    padding: 25px 50px;
}
#signModal .modal-login h4 {
    margin: 15px 0
}
#signModal .modal-login .close {
    position: absolute;
    top: 8px;
    right: 15px;
}
#signModal .tab_reg {
    display: none;
}
#signModal .tooltips {
    display: none;
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 7px 15px;
    border: 1px solid #faebcc;
    border-radius: 4px;
}

/**
 * 用户登录注册end
 */
