header {
  height: 50px;
}
header nav .logo .navbar-brand {
  font-size: 30px;
}
header nav form {
  padding-left: 0!important;
  padding-right: 0!important;
}
header nav form .input-group {
  width: 340px;
}
header nav form .input-group-btn {
  width: 1%!important;
}
header nav .menu {
  margin-left: 18px;
}
header nav .menu a {
  padding: 15px 12px;
}
header nav .profile {
  margin-right: 0;
}
header nav .profile .create_btn {
  padding: 15px 0;
  margin-right: 15px;
}
header nav .profile .messages {
  font-size: 16px;
  padding: 15px 5px;
  margin-right: 10px;
}
header nav .profile .avatar {
  padding: 10px 0;
}
header nav .profile .open .avatar {
  background-color: transparent!important;
}
header nav .profile .avatar img {
  width: 30px;
  border-radius: 50%;
}
header nav .profile .dropdown-menu {
  min-width: 130px;
}

/**
 * 用户登录注册begin
 */

#signModal .modal-dialog {
  width: 420px;
}
#signModal .modal-login {
  padding: 25px 50px;
}
#signModal .modal-login h4 {
  margin: 15px 0
}
#signModal .modal-login .close {
  position: absolute;
  top: 8px;
  right: 15px;
}
#signModal .tab_reg {
  display: none;
}
#signModal .tooltips {
  display: none;
  color: #8a6d3b;
  background-color: #fcf8e3;
  padding: 7px 15px;
  border: 1px solid #faebcc;
  border-radius: 4px;
}

/**
 * 用户登录注册end
 */
