.title h3 {
  padding-left: 7px;
}
.title a {
  color: #333;
}
.title .extra span {
  color: #999;
  margin-right: 12px;
}
.title .extra span em {
  font-style: normal;
  margin-left: 3px;
}
.title .extra span::before {
  content: "• ";
}
.title .extra a {
  color: #999;
  font-weight: normal;
}
.title .extra a:hover {
  text-decoration: underline;
  color: #698ebf;
}
.content {
  margin: 8px 0 15px 0;
  padding: 5px 15px;
  border-radius: 4px;
  background-color: #eee;
}
.tools a {
  color: #999;
  font-weight: normal;
}
.tools a:hover {
  color: #698ebf;
}
.tools a {
  margin-right: 10px;
}
.tools i {
  margin-right: 3px;
}
.question-main {
  margin-top: 30px;
}
.answer-list {
  border-bottom: solid 1px #ddd;
  padding: 10px 20px;
}
.answer-list:first-of-type {
  border-top: solid 1px #ddd;
}
.answer-list .avatar {
  width: 25px;
  height: 25px;
  background-color: red;
}
.comment {
  margin-top: 5px;
  padding-right: 25px;
}
.toolbar {
  margin-top: 30px;
  color: #999;
}
.toolbar span,a {
  margin-right: 8px;
}
.toolbar a {
  color: #999;
  font-weight: normal;
}
.toolbar a:hover {
  text-decoration: underline;
}


.create-answer {
  position: relative;
  padding: 10px 0 20px 20px;
}
.tooltips {
  position: absolute;
  display: none;
  color: #a42625;
  background-color: #f2dede;
  padding: 2px;
  font-size: 12px;
  bottom: 53px;
}
